/common/
/bin/
/cusp/
/db/
/drivers/
/dsp_builder/
/eda/
/incremental_db/
/libraries/
/lmf/
/sopc_builder/

*.zip
license.txt
readme.txt
a05_lab1.asm.rpt
a05_lab1.done
a05_lab1.fit.*
a05_lab1.flow.rpt
a05_lab1.map.*
a05_lab1.pin
a05_lab1.pof
a05_lab1.qpf
a05_lab1.qsf
a05_lab1.qws
a05_lab1.sim.*
a05_lab1.sof
a05_lab1.tan.*
a05_comp7.bsf
